{% extends 'blog.html' %}
{% block contents %}
   <div id="float-none" style="margin-left: 200px;float: left;">
    <ul id="list-img"style="width:670px;">
        <li id="onlyOne"><img src="/static/imgs/t1.png" alt="">
        <li><img src="/static/imgs/t10.jpg" alt="">
        <li><img src="/static/imgs/t9.jpg" alt="">
        <li><img src="/static/imgs/t3.png" alt="">
        <li><img src="/static/imgs/t14.jpg" alt="">
        <li><img src="/static/imgs/t5.jpg" alt="">
        <li><img src="/static/imgs/t6.jpg" alt="">
        <li><img src="/static/imgs/t7.jpg" alt="">
        <li><img src="/static/imgs/t8.jpg" alt="">>
        </li>
    </ul>
</div>
{% endblock %}
