{% extends 'blog.html' %}
{% block note %}
    <div style="height: 100px;">
    <h1 style="height: 50px;margin-left: 200px;">好厉害的c#笔记，啊伟就笑纳啦</h1>
    <div style="height: 30px;float:right;margin-right: 600px;font-size: 20px;color: #bababa;">2018-10-11 15:12:18</div>
    <div style="clear: both;"></div>
    <hr style="height: 1px;border-bottom: 0px;">
    <pre style="height: 800px;margin-left: 200px;">
        1. C# 程序简介：
            2.数据类型详解
            2.1 值类型
            2.2 引用类型
            2.3 指针类型（Pointer types）
            3. C#的类型转换
            4. 常量
            4.1 整数常量
            4.2 字符串常量
            4.3 定义常量
            5.运算符
            5.1 算术运算符
            5.2 关系运算符
            5.3 逻辑运算符
            5.4 位运算符
            5.5 赋值运算符
            5.6 其他运算符
            5.7 运算符的优先级
            6. C#的封装
            6.1 Internal
            6.2 Protected Internal
            7. 方法中参数的传递方式
            7.1 值传递
            7.2 引用传递
            7.3 **按输出传递参数**
            8. 可空类型（Nullable）
            8.1 单问号？
            8.2 双问号？？
            9. C#中的数组
            9.1 数组入门
            9.2 多维数组
            9.3 交错数组
            9.4 参数数组
            9.5 Array类
            9.5.1 常用属性：
            9.5.2 常用方法
            10. 字符串
            10.1 格式化日期
            11. 结构体
            11.1 结构体和类的区别
            11.2 什么时候选择结构？
            ————————————————
            版权声明：本文为CSDN博主「暗潮汹涌」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
            原文链接：https://blog.csdn.net/qq_34659777/article/details/82820583
    </pre>
{% endblock %}