{% extends 'blog.html' %}
{% block note %}
    <div style="height: 100px;">
    <h1 style="height: 50px;margin-left: 200px;">好全面的python笔记，我就笑纳啦</h1>
    <div style="height: 30px;float:right;margin-right: 600px;font-size: 20px;color: #bababa;">2018-10-11 15:12:18</div>
    <div style="clear: both;"></div>
    <hr style="height: 1px;border-bottom: 0px;">
        
    <pre style="height: 800px;margin-left: 200px;">
        Python的特色

  1.简单

  2.易学

  3.免费、开源

  4.高层语言: 封装内存管理等

  5.可移植性: 程序如果避免使用依赖于系统的特性，那么无需修改就可以在任何平台上运行

  6.解释性: 直接从源代码运行程序,不再需要担心如何编译程序,使得程序更加易于移植。

  7.面向对象: 支持面向过程的编程也支持面向对象的编程。

  8.可扩展性: 需要保密或者高效的代码，可以用C或C++编写，然后在Python程序中使用它们。

  9.可嵌入性: 可以把Python嵌入C/C++程序，从而向你的程序用户提供脚本功能。

  10.丰富的库: 包括正则表达式、文档生成、单元测试、线程、数据库、网页浏览器、CGI、FTP、

     电子邮件、XML、XML-RPC、HTML、WAV文件、密码系统、GUI(图形用户界面)、Tk和其他与系统有关的操作。

     除了标准库以外，还有许多其他高质量的库，如wxPython、Twisted和Python图像库等等。

  11.概括: Python确实是一种十分精彩又强大的语言。它合理地结合了高性能与使得编写程序简单有趣的特色。

  12.规范的代码: Python采用强制缩进的方式使得代码具有极佳的可读性。





Python 下载地址

    http://www.python.org/download/



Python 安装：

    windows时，运行安装文件之后，还需要配置环境变量，在环境变量的“Path”后面加上英文的分号及python安装目录

    如：“;C:\promg\python2.6”

    不配置环境变量的话，没法在命令行直接使用python



有两种使用Python运行你的程序的方式

   1.使用交互式的带提示符的解释器

     直接双击运行“python.exe”，在里面输入内容，如： print 'haha...'

   2.使用源文件

     在Python的安装目录下，建一个批处理(test.bat)，写入：

     @echo off

     python.exe test.py

     pause



     而“test.py”里面的内容是需要执行的程序





Python命令行选项

    选项      作用

    -c cmd   在命令行直接执行python代码。如python -c 'print "hello world"'。

    -d       脚本编译后从解释器产生调试信息。同PYTHONDEBUG=1。

    -E       忽略环境变量。

    -h       显示python命令行选项帮助信息。

    -i       脚本执行后马上进入交互命令行模式。同PYTHONINSPECT=1。

    -O       在执行前对解释器产生的字节码进行优化。同 PYTHONOPTIMIZE=1。

    -OO      在执行前对解释器产生的字节码进行优化，并删除优化代码中的嵌入式文档字符串。

    -Q arg   除法规则选项，-Qold(default)，-Qwarn，-Qwarnall，-Qnew。

    -S       解释器不自动导入site.py模块。

    -t       当脚本的tab缩排格式不一致时产生警告。

    -u       不缓冲stdin、stdout和stderr，默认是缓冲的。同PYTHONUNBUFFERED=1。

    -v       产生每个模块的信息。如果两个-v选项，则产生更详细的信息。同PYTHONVERBOSE=x。

    -V       显示Python的版本信息。

    -W arg   出错信息控制。(arg is action:message:category:module:lineno)

    -x       忽略源文件的首行。要在多平台上执行脚本时有用。

    file     执行file里的代码。

    -        从stdin里读取执行代码。





easy_install

    这是个很常用的python安装工具

    可以直接安装ez_setup.py脚本(下载网址： http://peak.telecommunity.com/dist/ez_setup.py):

        python ez_setup.py



    windows 下的使用：

      安装：

        下载: http://peak.telecommunity.com/dist/ez_setup.py

        执行: python ez_setup.py

      使用：

        easy_install.exe -U %modal%  # %modal% 是模块名



    linux 下：

      安装：

        sudo apt-get install python-setuptools

      或者：

        wget -q http://peak.telecommunity.com/dist/ez_setup.py

        sudo python ez_setup.py

      使用：

        sudo easy_install 模块名
    </pre>
    </div>
{% endblock %}