<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>selenium的安装过程</title>
    <link rel="stylesheet" href="/static/css/tarena.css">
	</head>
	<body>
		<div id="head1">
			<span><a href="#">E N</a></span>
			<span><a href="#">社区版</a></span>
			<span><a href="#">个人版</a></span>
			<span><a href="#">企业版</a></span>
		</div>
		<ul class="list1">
			<li><img src="https://www.pumch.cn/Uploads/Picture/2017/12/15/s5a332293a1668.jpg" ></li>
			<li><font size="5" color="black"><a href="#">达内招生网页</a></font></li>
			<li><a href="#">公告</a></li>
			<li><a href="#">爬虫高手</a></li>
			<li><a href="#">工作人员</a></li>
			<li><a href="#">实验室动态</a></li>
			<li><a href="#">pycharm安装方法</a></li>
			<li><a href="#">服务指南</a></li>
			<li><a href="#">pycharm官网</a></li>
			<li><a href="#">达内招生</a></li>
			<li><a href="#">培训</a></li>
			<li><a href="#"><span>返回首页</span></a></li>					
		</ul>
		<div class="left-img">
			<img src="https://images2015.cnblogs.com/blog/1145126/201704/1145126-20170412184413720-1393210599.png" alt="">
		</div>
		<div class="right-information">
			<h2>方法介绍</h2>
			<br>
			<p>下载完之后将两个压缩包解压，将两个 [ .exe ] 文件放到python目录下，与python.exe文件平级即可，比如我的文件路径为 D:\python\Anaconda ，只需要将两个[ .exe ] 文件放到该目录下

				再次运行上面代码，如果出现错误将编译器关闭，重新打开。
				
				如果出现下面错误，可能是因为网速慢，页面还没有加载出来，程序就执行完毕，导致获取不到element元素
				
				selenium.common.exceptions.NoSuchElementException:Message: Unable to locate element: [id="kw"]
				解决办法：可以让程序隐式等待10秒，代码如下：</p>
			<ul id="just">
				<li><a href=""><img src="https://images2015.cnblogs.com/blog/1145126/201704/1145126-20170412184509705-125316170.png" alt=""></a>
					<h2>python课</h2></li>
				<li><a href=""><img src="https://images2015.cnblogs.com/blog/1145126/201704/1145126-20170412184635111-430811970.png" alt=""></a>
					<h2>爬虫课</h2></li>
				<li><a href=""><img src="https://images2015.cnblogs.com/blog/1145126/201704/1145126-20170412184441017-40895594.png" alt=""></a>
					<h2>selenium课</h2></li>
			</ul>
		</div>
		
		<div style="clear: both"></div>
		<hr>
		<div class="left-list">
			<h2>公告</h2>
			<hr>
			<ul>
				<li>mysql</li>
				<p>2019-08-12</p>
				<hr>
				<li>Pythonnet</li>
				<p>2019-08-12</p>
				<hr>
				<li>达内报名链接</li>
				<p>2019-08-12</p>
				<hr>
				<li>pythonweb</li>
				<p>2019-08-12</p>
				<hr>
				<li>flask</li>
				<p>2019-08-12</p>
				<hr>
			</ul>
		</div>
		<div class="worker">
			<h1>工作人员</h1>
			<ol>
				<li><img src="https://s1.51cto.com/images/blog/201808/03/a940c66317ecbe58436a2ad3831c2d7d.png" alt="" style="width: 200px;height: 200px;"><p>王佳楠</p></li>
				<li><img src="https://s1.51cto.com/images/blog/201804/27/92f96bca4a81e7c15a63e696e2a8d8e5.jpg" alt="" style="width: 200px;height: 200px;"><p>刘子伟</p></li>
				<li><img src=" https://s1.51cto.com/images/blog/201905/05/f92360e227f9d91cdff7ea95120630ef.png" alt="" style="width: 200px;height: 200px;"><p>赵瑞迪</p></li>
			</ol>
		</div>
		<div style="clear: both"></div>
		<div class="trends">
			<div class="img">
				<img src="https://blog.51cto.com/qr/qr-url?url=https%3A%2F%2Fblog.51cto.com%2F2681882%2F2130210" alt="">
			</div>
		</div>
		<ol class="right-list">
			<li><a href="#">2018年9月19日毛路铭进入达内学习</a><span style="float: right;margin-right:200px;">2019-09-08</span></li>
			<hr style="width: 40%;border-bottom: 0px;">
			<li><a href="#">2017年9月18日刘子伟成名</a><span style="float: right;margin-right:200px;">2019-09-07</span></li>
			<hr style="width: 40%;border-bottom: 0px;">
			<li><a href="#">2018年9月11日王佳楠成神</a><span style="float: right;margin-right:200px;">2019-09-06</span></li>
			<hr style="width: 40%;border-bottom: 0px;">
			<li><a href="#">2019年9月6日张冠举开始学python</a><span style="float: right;margin-right:200px;">2019-09-05</span></li>
			<hr style="width: 40%;border-bottom: 0px">
			<li><a href="#">2019年9月4日赵瑞迪在Java领域获得嘉奖</a><span style="float: right;margin-right:200px;">2019-09-04</span></li>
			<hr style="width: 40%;border-bottom: 0px;">
		</ol>
		<div style="clear:both;"></div>
		<div>
			<h1 style="margin-bottom: 20px;margin-left:200px;">达内招生简章</h1>
			<div><img src="http://cdn.tmooc.cn/bsfile//imgad///65af3205bae748f3935d1e19a33320f5.jpg" alt="" style="height: 200px;width:100%"></div>	
		</div>
	</body>
<html>
